#about-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-container {
    width: 60%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-container h1 {
    color: white;
    font-size: 10px;
}