#astro-canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/background.png");
    visibility: hidden;
}

#main-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/background.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#pause-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}