#astro-canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/background.png");
    visibility: hidden;
}

#main-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/background.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#pause-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

#volume-button {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    position: fixed;
    left: 1em;
    bottom: 1em;
    cursor: pointer;
}